/* .first-container {
  background: rgb(42, 28, 24);
  background: linear-gradient(
    0deg,
    rgba(24, 31, 42, 1) 50%,
    rgba(28, 36, 49, 1) 50%
  );
  background-image: url("./images/bg-curvy-mobile.svg");
  background: no-repeat;
} */

body {
  color: #1d2534;
  color: #181f2a;
  color: #0b1523;
  color: #2a364d;
}
